/*link font poppins */
@import url('https://fonts.googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kalkulator {
    background-image: url(image/StudioView.jpeg);
    background-size: cover;
    z-index: 9999;
    padding: 26px;
    border-radius: 20px;
}
input {
    width: 330px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 45px;
    text-align: right;
    color: #FDF0D1;
}
input::placeholder {
    color: #000;
}
button {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #303136;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}
.hasil {
    width: 114px;
    color: #fff;
    background: orange;
    font-weight: 700;
}
.main {
    color: #000;
    background: orange;
    font-weight: 400;
}
.operator {
    color: #000;
    background: blueviolet;

}
/* media query */
@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
}
/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
}
/* tablet*/
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
}
/* hp */
@media (max-width: 567px) {
    html {
        font-size: 60%;
    }
}